
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html {
    scroll-behavior:smooth;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: #131313;

    
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(138, 138, 138);
}








*{
    box-sizing: border-box;
    color: #fff;
    margin:0;
    padding:0;
    font-family: Poppins, sans-serif; 
}



.navbar {
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index:999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}


#navbar__logo {
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo img{
    
    width: 100px;
    height: auto;
}

#navbar__logo .brand-logo-div{
    background-color: #fff;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 3px;
    height: 40px;
    border-radius: 100px;
}



.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #ee9ca7;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }


    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width:25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #moblie-menu {
        position: absolute;
        top:20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    
    #moblie-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #moblie-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #moblie-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}


.highlight {
    border-bottom: 4px solid #ee9ca7;;
}


/* Default Container*/


.default__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 50px 0 200px 0;
}


/* Hero Section*/

.hero {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0 200px 0;

}

.hero__heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.hero__heading span {
    background: #ee9ca7; 
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
    background: linear-gradient(to right, #ffdde1, #ee9ca7); 

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description {
    font-size: 60px;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffdde1, #ee9ca7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}



@media screen and (max-width: 768px) {
    
    .hero__heading{
        font-size: 60px;
    }
    .hero__description {
        font-size: 40px;
    }
}


.website__links ion-icon{
    margin: 2rem 1rem 0rem 1rem;
    height: 50px;
    width: 50px;
    color: #ee9ca7;
    transition: 0.5s ease-in-out;
}

.web__icons{
    text-decoration: none;
}

.website__links ion-icon:hover{
    color: #fff;
    transform: scale(1.25);
    transition: 0.5s ease-in-out;
    
}



/* About Section */

.about {
    background-color: #131313;
    padding: 10rem 0;
}

#about__text{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.wrapper {
    display:flex;
    height: 700px;
    width: 1300px;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}


.wrapper .about__item {
    min-width: 650px;
    height: auto;
    text-align: center;
    background: #131313;
    border: 1px solid #fff;
    scroll-snap-align: start;
    
}

@media screen and (max-width: 1350px){

    .wrapper {
        width: 950px;
    }
    
    .wrapper .about__item {
        min-width: 950px;
    }

}

@media screen and (max-width: 1050px){

    .wrapper {
        width: 550px;
    }
    
    .wrapper .about__item {
        min-width: 550px;
    }

}

@media screen and (max-width: 550px){

    .wrapper {
        width: 450px;
    }
    
    .wrapper .about__item {
        min-width: 450px;
    }

}


/* Main Section*/

.signup {
    background-color: #131313;
    padding: 10rem 0;
}

.main__content{
    color: #fff;
    width: 100%;
}

.main__content h1{
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 4rem;
    background: #ff8177;
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    background: linear-gradient(to right, #8f0eff, #da22ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn_message {
    text-decoration: none;
    color: #fff;
}


.main__btn {
    font-size: 1.8rem;
    background: var(--background-color);

    color: #fff;

    padding: 20px 60px;
    border: none;
    
    border-radius: 4px;
    margin-top: 2rem;

    cursor: pointer;
    position: relative;
    outline: none;

    --background-color: #ee9ca7;
    --accent-color: #fff;
}

.main__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: transform 500ms ease-in-out;
  
    transform: scale(1.5);
  }
  
  .main__btn:hover::before,
  .main__btn:focus::before {
    transform: scale(0);
  }
  
  .main__btn{
    z-index: 1;
    overflow: hidden;
    background-color: var(--accent-color);
    transition: color 500ms ease-in-out;
  }
  
  .main__btn:hover,
  .main__btn:focus {
    color: #ee9ca7;
  }
  


.main__img--container {
    text-align: center;
}

.main__img--card {
    margin:10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

#card-2{
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background: linear-gradient(to right, #dd2476, #ff512f);

}


@media screen and (max-width: 1100px){
    
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card{
        height: 425px;
        width: 425px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    
    .main__content h2{
        font-size: 3rem;
    }

    .main__content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px){

    .main__img--card{
        width: 250px;
        height: 250px;
    }

    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}



/* Services Section*/

.services {
    padding: 200px 0 0 0;
    display: flex;
    flex-direction: column;
    background: #131313;
}

.services__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 50px 0 200px 0;

}

.services__containergroups {
    display: flex;
}



.services h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;

}


/* -------------------------- */

.services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    --padding:0.25rem;
    padding: var(--padding);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#card1 {
    background-image: url(images/background_wsize.png);
}

#card2 {
    background-image: url(images/gym.png);
}


#card3 {
    background-image: url(images/friends.png);
}


#card4 {
    background-image: url(images/hair.png);
}



.services__card:hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 99;
}

.card__container{
    background: hsl(0 0% 0% / .5);
    transition: 0.5s ease-in-out;
    flex-direction: column;
    justify-content: right;
    border-radius: 4px;
}

#container1 {
    opacity: 0;
}
#container2 {
    opacity: 0;
}
#container3 {
    opacity: 0;
}
#container4 {
    opacity: 0;
}


.services__card:hover #container1{
    opacity: 1;
}

.services__card:hover #container2{
    opacity: 1;
}
.services__card:hover #container3{
    opacity: 1;
}
.services__card:hover #container4{
    opacity: 1;
}

.card-title {
    position: relative;
    
}

.card-body {
    margin-top: 1rem;
}

.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -2px;
    width: calc(100%);
    background: #fff;
    transform: scaleX(0);
    transition: 1s ease-in-out;
    
}

.services__card:hover .card-title::after{
    transform: scaleX(1);
    transition: 1s ease-in-out;
}






@media screen and (max-width: 1300px) {
    .services__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



}

@media screen and (max-width: 768px) {
    .services__containergroups {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


/* Sign up Section*/

.join-main-section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.join-text{
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.accent-text{
    color: #ee9ca7; 
    color: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
    color: linear-gradient(to right, #ffdde1, #ee9ca7); 
}

/* Working on this section below*/


.join-form{
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
}


.join-form input {
    color:#000000;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
}

.join-form textarea {
    color:#000000;
    padding-left: 10px;
    margin-bottom: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
}

.join-form button {
    outline: none;
    background: none;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 100%;
}

.join-form button:focus {
    border-color: #596da0;
}

.join-form button:hover {
    background: #fff;
    color: #202027;
    transition: all 0.3s ease;
}


@media (max-width: 900px) {
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .join-form{
        width:80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}

